.boardcontainer {
  margin-top: 5vh;
  position: relative;
  width: auto;
  height: 100vh;
  background: radial-gradient(#0a5577, #03a9f4);
}

.color-picker-container {
  text-align: center;
  display: inline;
  color: white;
}

.brushsize-container {
  display: inline;
  color: white;
  margin-left: 12px;
}

.tools-section {
  text-align: center;
}

.board-container {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 1%;
  background: white;
}
